---
import GlobalLayout from '../../layouts/GlobalLayout.astro';
import ContentLayout from '../../layouts/ContentLayout.astro';
import PostGallery from "../../components/PostGallery.astro";
import Pagination from '../../components/Pagination.astro';
import H1 from "../../components/H1.astro";
import { getCollection } from "astro:content";


export async function getStaticPaths({ paginate }) {
  const posts = await getCollection("posts");

  const sorted = posts.sort((a, b) => {
  const [dayA, monthA, yearA] = a.data.date.split("/").map(Number);
  const [dayB, monthB, yearB] = b.data.date.split("/").map(Number);

  const dateA = new Date(yearA, monthA - 1, dayA);
  const dateB = new Date(yearB, monthB - 1, dayB);

  // @ts-ignore
  return dateB - dateA; // descending order
});


  return paginate(sorted, { pageSize: 10 });
}

const { page } = Astro.props;
---

<GlobalLayout title="Blog posts">
  <ContentLayout>
    <div class="posts-page">
      <H1 text="Blog posts" />
      <!-- @ts-ignore -->
      <PostGallery posts={page.data} />
      <!-- @ts-ignore -->
      <Pagination currentPage={page.currentPage} lastPage={page.lastPage} url={page.url} />
    </div>
  </ContentLayout>
</GlobalLayout>

<style>
  .posts-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

</style>
