---
import GlobalLayout from '../../layouts/GlobalLayout.astro';
import Section from '../../layouts/Section.astro';
import PostGallery from "../../components/PostGallery.astro";
import Pagination from '../../components/Pagination.astro';
import { getCollection } from "astro:content";
import { sortPosts } from '../../utils/posts.js';

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection("posts");
  return paginate(sortPosts(posts), { pageSize: 10 });
}

const { page } = Astro.props;
---

<GlobalLayout title="Blog posts">
  <Section>
    <div class="posts-page">
      <h1 class="posts-headline">Blog posts</h1>
      <PostGallery posts={page.data} />
      <Pagination currentPage={page.currentPage} lastPage={page.lastPage} url={page.url} />
    </div>
  </Section>
</GlobalLayout>

<style>
  .posts-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .posts-headline {
    font-size: 40px;
    color: var(--color-ink);
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
    letter-spacing: -1.6px;
  }

  @media (max-width: 960px) {
    .posts-headline {
      font-size: 32px;
    }
  }
</style>
