---
import GlobalLayout from '../../layouts/GlobalLayout.astro';
import PostGallery from "../../components/PostGallery.astro";
import H1 from "../../components/H1.astro";

import { getCollection } from "astro:content";
import Pagination from '../../components/Pagination.astro';
import ContentLayout from '../../layouts/ContentLayout.astro';

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection("posts");

  const sorted = posts.sort((a, b) =>
    new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  );

  return paginate(sorted, { pageSize: 5 });
}

const { page } = Astro.props;
---

<GlobalLayout title="Blog posts">
  <ContentLayout>
    <div class="posts-page">
      <H1 text="Blog posts" />
      <!-- @ts-ignore -->
      <PostGallery posts={page.data} />
      <!-- @ts-ignore -->
      <Pagination currentPage={page.currentPage} lastPage={page.lastPage} url={page.url} />
    </div>
  </ContentLayout>
</GlobalLayout>

<style>
  .posts-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 2rem;
  }

</style>
