---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import Main from '../components/Main.astro';
import Intro from '../components/Intro.astro';
---

<GlobalLayout title="Konstantinos Norgias blog">
	<Main>
		<Intro/>
	</Main>
</GlobalLayout>