---
const twitterUrl = 'https://twitter.com/CloudDreamer11';
const etsyUrl = 'https://etsy.com/';
const currentYear = new Date().getFullYear();
---

<div class="footer bg-gray-100 text-teal-900" >
    <div class="footer-left">
        <a href="/">
            <div class="footer-left-content">
                FLINKMINK - Copyright &copy; {currentYear}
            </div>
        </a>
        
    </div>

    <div class="footer-right">
        <div class="footer-right-content">
            <div class="footer-right-content-element">
                <a href={twitterUrl}> Youtube </a>
            </div>
            <div class="footer-right-content-element">
                <a href={etsyUrl}> Etsy </a>
            </div>
        </div>
    </div>
</div>

<style>
    a {
    /* typography */
    text-decoration: none;
    font-weight: bold;

    /* fill */
    color: #2c2c2c;
    }

    a:hover {
    /* fill */
    color: #1793ff;
}
    .footer {
        display: flex;
        width: 100%;
        padding: 40px;
        box-sizing: border-box;
        border-top: 1px solid #DDDDDD;
        background-color: rgb(229, 237, 243);
    }

    .footer-left {
        display: flex;
        width: 50%;
        align-items: center;
    }

    .footer-left-content {
        font-size: large;
        font-weight: bold;
    }

    .footer-right-content {
        font-weight: bold;
    }

    .footer-right {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    .footer-right-content-element {
        padding: 8px;
    }
</style>