---
type Props = {
    text: string;
}

const { text } = Astro.props;
---

<h1 class="heading">{text}</h1>

<style>
    .heading {
        font-size: 2rem;
        color: #065f46; /* text-teal-900 */
        font-weight: 700; /* font-bold */
        margin-bottom: 2rem;
    }
</style>
