---
type Props = {
    text: string;
}

const { text } = Astro.props;
---

<h1 class="heading1">{text}</h1>

<style>
    .heading1 {
        font-size: 40px;
        color: #2c2c2c; /* text-teal-900 */
        font-weight: 600; /* font-bold */
        margin: 0;
        margin-bottom: 1rem;
        letter-spacing: -1.6px;
    }

    @media (max-width: 960px) {
        .heading1 {
            font-size: 32px;
        }
        
    }
</style>
