<header>
  <ul class="nav-list">
    <a href="/">
      <li class="button-container">
        <div class="button-shadow"></div>
        <div class="button">HOME</div>
      </li>
    </a>
    <a href="/blog">
      <li class="button-container">
        <div class="button-shadow"></div>
        <div class="button">BLOG</div>
      </li>
    </a>
    <a href="/projects">
      <li class="button-container">
        <div class="button-shadow"></div>
        <div class="button">PROJECTS</div>
      </li>
    </a>
    <a href="/about">
      <li class="button-container">
        <div class="button-shadow"></div>
        <div class="button">ABOUT</div>
      </li>
    </a>
  </ul>
</header>

<style>
  header {
    /* layout */
    display: flex;
    width: 100%;
    line-height: initial;
    align-items: center;
    padding: 0.5rem;

    /* color */
    background-color: #f3f4f6; /* bg-gray-100 */
    border-bottom: 1px solid #bfbfbf;
  }

  .nav-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .nav-list li {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center; /* vertically align text */
    width: fit-content;

    /* color */
    color: #065f46;

    /* typography */
    font-size: 24px;
    font-weight: 700;
  }

  /* TODO: merge & clean up common CSS of button and card in HEADER.astro, Project.astro and Post.astro */
  .button-container {
    /* dimensions */
    position: relative;
    min-width: fit-content;
    width: 6rem;
    min-height: fit-content;
    height: 3rem;
  }

  .button {
    padding: 8px;
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center; /* vertically align text */

    /* dimensions */
    width: 100%;
    height: 100%;
    z-index: 1;

    /* color */
    background-color: #f3f4f6;

    /* border */
    border: 2px solid #065f46;
    border-radius: 8px;
    width: inherit;
    height: inherit;

    /* animations */
    transition: transform 0.3s ease;
  }

  .button-shadow {
    width: 100%;
    height: 100%;
    position: absolute;

    border-radius: 8px;
    background-color: #124e4a;
  }

  .button:hover {
    transform: translate(4px, -4px);
  }

  /* Styles for smaller screens (e.g., below 864px) */
  @media (max-width: 864px) {
    .button {
      font-size: 16px;
    }
  }

</style>
