<header>
  <a href="/">
    <div class="logo button-container">
      <div class="button-shadow"></div>
      <div class="button">KN</div>
    </div>
  </a>
  <ul class="nav-list">
    <a href="/blog">
      <li class="button-container">
        <div class="button-shadow"></div>
        <div class="button">BLOG</div>
      </li>
    </a>
    <a href="/about">
      <li class="button-container">
        <div class="button-shadow"></div>
        <div class="button">ABOUT</div>
      </li>
    </a>
  </ul>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f4f6; /* bg-gray-100 */
    width: inherit;
    padding: 1rem;
    line-height: initial;
  }

  .logo {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* gap-x-4 */

    /* text */
    text-transform: uppercase; /* uppercase */
    font-size: 1.875rem; /* text-3xl */
    color: #065f46; /* text-teal-900 */
    font-weight: bold;
  }

  .nav-list {
    display: flex;
    column-gap: 0.5rem;
  }

  .nav-list li {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center; /* vertically align text */

    /* color */
    color: #065f46;

    /* typography */
    font-weight: bold;
  }

  /* TODO: merge & clean up common CSS of button and card in HEADER.astro, Project.astro and Post.astro */
  .button-container {
    /* dimensions */
    position: relative;
    min-width: fit-content;
    width: 6rem;
    min-height: fit-content;
    height: 3rem;
  }

  .button {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center; /* vertically align text */

    /* dimensions */
    width: 100%;
    height: 100%;
    z-index: 1;

    /* color */
    background-color: #f3f4f6;

    /* border */
    border: 2px solid #065f46;
    border-radius: 8px;
    width: inherit;
    height: inherit;

    /* animations */
    transition: transform 0.3s ease;
  }

  .button-shadow {
    width: 100%;
    height: 100%;
    position: absolute;

    border-radius: 8px;
    background-color: #124e4a;
  }

  .button:hover {
    transform: translate(4px, -4px);
  }

</style>
