---
import H1 from '../components/H1.astro';
---
<div class="text-left" >
    <H1 text="About me"></H1>
    <img src="images/profile-pic.png" alt="Profile Picture" class="rounded-full w-36 h-36">
    <div class="flex items-center justify-start">

        <div class="prose prose-lg text-gray-700 my-5">
            <h2 class="text-2xl font-semibold leading-relaxed my-4 text-gray-800">
                Hey there! Welcome to my website.</h2>
                <h2 class="text-2xl font-semibold leading-relaxed my-4 text-gray-800">
                I'm Konstantinos Norgias, a web designer & developer.
            </h2>
        </div>

    </div>

    <div class="prose prose-lg text-gray-700 my-5">
        <p class="leading-relaxed my-4">
            Since I was a kid, I’ve been fascinated by transformers, legos, and computers.             I’ve spent countless hours building, designing, and rearranging physical stuff as well as designing, coding, testing, and playing with digital content such as mobile apps, websites, and video games.
        </p>

        <p class="leading-relaxed my-4">
            What excites me is new tech, a good story, aesthetic & intuitive design, and creating stuff that starts off as a simple idea. The digital space is the perfect playground for my interests and aptitudes.
        </p>
        <p class="leading-relaxed my-4">
            I have spent multiple professional years coding mobile and web apps, and design won me over once I hopped on a design system project, where I’ve had the opportunity to work with multiple disciplines.
        </p>

        <p class="leading-relaxed my-4">
            I have spent multiple professional years coding mobile and web apps, and design won me over once I hopped on a design system project, where I’ve had the opportunity to work with multiple disciplines.
        </p>


        <!-- <p class="leading-relaxed my-4">
            The 2 sides of design systems, design & code, intrigued me and I jumped on the chance to explore the full spectrum of product development, from ideation, to design, to code and testing.
        </p>


        <p class="leading-relaxed my-4">
            Nowadays, I’m either fiddling with designs on Figma, coding some of those designs to bring them to life, or writing about my latest explorations on Twitter & Medium.
        </p>
        <p class="leading-relaxed my-4">
            My current focus is designing and coding UIs for the web, from Figma to live code.
        </p>
        <p class="leading-relaxed my-4">
             As the yang to my yin of sitting for a living, I enjoy hiking in the outdoors. Nothing like getting in touch with nature and a breath of fresh air for reinvigorating the spirit and the creative mind.
        </p> -->


    </div>
    
</div>
