<main class="main-content">
    <slot></slot>
</main>

<style>
    .main-content {
        padding-left: 24px; /* px-24 */
        padding-right: 24px; /* px-24 */
        margin-left: auto; /* mx-auto */
        margin-right: auto; /* mx-auto */
        min-height: 100vh; /* min-h-screen */
        max-width: 75vw;
    }

    @media (max-width: 640px) {
        .main-content {
            padding: 0 8px;
            max-width: 100vw;
        }
    }
</style>
