<main class="main-content">
    <slot></slot>
</main>

<style>
    .main-content {
        padding-left: 24px; /* px-24 */
        padding-right: 24px; /* px-24 */
        max-width: fit-content; /* max-w-fit */
        margin-left: auto; /* mx-auto */
        margin-right: auto; /* mx-auto */
        width: 100%; /* w-full */
        min-height: 100vh; /* min-h-screen */
    }

    @media (max-width: 640px) {
        .main-content {
            padding: 0 8px;
        }
    }
</style>
