---
import type { CollectionEntry } from "astro:content";
import Post from "./Post.astro";

// Pattern: first, define "Props", then destructure below via "Astro.props"
type Props = {
    //posts is an array of the collection entry/type 'posts' from 'astro/src/content/config.ts'
    posts: CollectionEntry<'posts'>[]
}

const { posts } = Astro.props;
---

 <!-- CSS grid with 2 columns on "bigger" screens and 1 column on "smaller" screens -->
<div
    class="grid grid-cols-2 gap-x-72 gap-y-16 max-lg:grid-cols-1 mb-24"
>
    <!--for each 'post', use 'Post' component and pass 'post' as property -->
    {posts.map((post) => <Post post={post}/>)}
</div>