<main class="main-content">
  <slot></slot>
</main>

<style>
  .main-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 20px;
      margin-left: auto; /* mx-auto */
      margin-right: auto; /* mx-auto */
      min-height: 100vh; /* min-h-screen */

      max-width: 1280px;
  }

  @media (max-width: 640px) {
      .main-content {
          padding: 0 8px;
      }
  }
</style>