---
import H1 from "../components/H1.astro";
import { Image } from "astro:assets";
import H2 from "../components/H2.astro";

const { post } = Astro.props;
const { Content } = await post.render();
---

<div class="blog-post-container">
  <H1 text={post.data.title}/>
  <div>{post.data.date}</div>
  <Image
    src={post.data.image}
    alt={post.data.title}
    class="blog-post-image"
  />
  <Content />
</div>

<style>


  .blog-post-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 40px;
    margin: 4rem 0;
  }

  .blog-post-image {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 2;
    object-fit: cover;
    margin: 1rem 0;
    border-radius: 8px;;
  }
</style>
