---
import H1 from "../components/H1.astro";
import { Image } from "astro:assets";
import ContentLayout from "./ContentLayout.astro";

const { post } = Astro.props;
const { Content } = await post.render();
---

<ContentLayout>
  <div class="blog-post-container">
    <H1 text={post.data.title}/>
    <div>{post.data.date}</div>
    <Image
      src={post.data.image}
      alt={post.data.title}
      class="blog-post-image"
    />
    <Content />
  </div>
</ContentLayout>

<style>


  .blog-post-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 24px;
    margin: 4rem 0;
    line-height: 1.6;
  }

  .blog-post-image {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 2;
    object-fit: cover;
    margin: 1rem 0;
    border-radius: 8px;;
  }

  @media (max-width: 1024px) {
    .blog-post-container {
      width: 100%;
      font-size: 20px;
      margin: 2rem 0;
    }
  }

  @media (max-width: 600px) {
    .blog-post-container {
      font-size: 16px;
    }
  }


</style>
