---
import H1 from "../components/H1.astro";
import { Image } from "astro:assets";

const { post } = Astro.props;
const { Content } = await post.render(); // Get the post's body content via out-of-the-box async 'render()' function, as a <Content/> component
---

<div class="blog-post-container">
  <H1 text={post.data.title} />
    <Image
      src={post.data.image}
      width={1024}
      height={1024 / 1.5}
      alt={post.data.title}
      class="shadow-xl mb-4 aspect-thumbnail object-cover"
    />
  <!-- To get the tailwind styling: wrap content with a div that has tailwind typography classes -->
  <div class="prose prose-2xl overflow-visible relative mb-20">
    <Content />
  </div>
</div>

<style>
  .blog-post-container {
      display: flex;
      flex-direction: column;
      align-self: center;
      max-width: 1000px;
  }
</style>